<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cemeteries</title>
</head>
  <body style="font-family: inherit; line-height: 1.6; padding: 20px;">

    <img
      src="/static/KHS_logo.png"
      alt="Killingworth Historical Society Logo"
      style="display: block; margin: 0 auto 20px auto; max-width: 180px;"
    >

    <a href="/categories" style="text-decoration: none;">
      <div style="
        background-color: #e3e3e3;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        color: #333;
        padding: 15px 0;
        margin-top: 10px;
        font-size: 1.8em;
      ">
        CEMETERIES
      </div>
    </a>
  
    <ul style="
      list-style: none;
      padding: 0;
      max-width: 600px;
      margin: 40px auto;
      text-align: center;
    ">
      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/union-district-cemetery">
          Union District Cemetery
        </a>
      </li>

      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/southwest-district-cemetery">
          Southwest District Cemetery
        </a>
      </li>

      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/pine-orchard-district-cemetery">
          Pine Orchard District Cemetery
        </a>
      </li>

      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="stone-house-district-cemetery">
          Stone House District Cemetery
        </a>
      </li>
      
      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/lane-district-cemetery">
          Lane District Cemetery
        </a> 
      </li>
      
      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href= "/parker-hill-district-cemetery">
          Parker Hill District Cemetery
        </a>
      </li>
      
      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/emmanuel-church-cemetery">
        New Pine Orchard District (Emmanuel Church) Cemetery
        </a>
      </li>
      
      <li style="margin-bottom: 18px; font-size: 1.2em;">
        <a href="/evergreen-cemetery">
        Evergreen Cemetery
        </a>
      </li>

    </ul>
    
  <a href="/">← Back to Home</a>
</body>
</html>
